<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Supported values: nunit, xunit, mstest, mspec, mbunit and gallio -->
    <add key="FluentAssertions.TestFramework" value="nunit" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- Web driver time out to find an element (in ms) -->
    <add key="timeout" value="60000" />
    
    <!-- Time out used when pausing (in ms) -->
    <add key="pauseTimeout" value="1000" />
    
    <!-- ScreenShot Path -->
    <add key="screenShot_path" value="D:\\insighture\\manul_finalassignment" />
    
    <!-- Login URL -->
    <add key="loginUrlrdm" value="https://www.saucedemo.com" />
    
    <!-- browser to use start -->
    <add key="br_chrome" value="chrome" />
    <add key="br_firefox" value="firefox" />
    <add key="br_edge" value="edge" />
    <add key="br_ie" value="ie" />
    <!-- browser to use end-->
    
    <!-- Username start -->
    <add key="userName_Wrong" value="standard_user_wrong" />
   
    <add key="userName_Correct" value="standard_user" />    
	<!-- Username end -->
    
    <!-- Password start -->
    <add key="password_Wrong" value="wrong123456789" />
    
    <add key="password_Correct" value="secret_sauce" />
    <!-- Password end -->
	  
	<!-- firstName -->
    <add key="firstName" value="manul" />
	  
	<!-- lastName start -->
	<add key="lastName" value="mendis" />

	<!-- zipPostalCode start -->
	<add key="zipPostalCode" value="262" />
    <!-- zipPostalCode end -->

	<!-- Product_Description start -->
	<add key="Product_Description" value="It's not every day that you come across a midweight quarter-zip fleece jacket capable of handling everything from a relaxing day outdoors to a busy day at the office." />
    <!-- Product_Description end -->

	<!-- dropdown_Option -->
    <add key="dropdown_Option" value="Price (low to high)" />
	  

	  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.25.0.0" newVersion="0.25.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>